.contactsBlock {
    height: 100vh;
    background-color: antiquewhite;
}

.contactsContainer {
    flex-direction: column;
}

.title {
    background-color: #b3d2c9;
}

.contacts {
    border: 1px solid;
    text-align: center;
}

